@import '@styles/variables.scss';

.room-details-list {

  &__header {
    font-family: $header-font;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {    
    display: flex;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid $font-color-light10;    
    margin-bottom: 1.25rem;
  }
  
  &__wrapper {
    padding-top: 0.1875rem;
    color: $font-color-light75;
  }

  &__caption {
    margin-bottom: 0.375rem;
    font-weight: bold;
  }

  &__description {
    font-size: 0.875rem;
  }

  &__icon {
    font-size: 3rem;
    margin-right: 0.625rem;    
    background: $main-color-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
