@import '@styles/variables.scss';

.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;

  &__footer {
    margin-top: auto;
  }

  &__main {
    border-bottom: .0625rem solid $font-color-light10;
  }
}
