@mixin reset-button {
  border: 0;
  appearance: none;
  user-select: none;
  background: transparent;
  cursor: pointer;
}

@mixin reset-outline($property: box-shadow) {
  transition: #{$property} .25s ease-in-out;

  &:focus {
    outline: none;
    #{$property}: 0 .3125rem .3125rem $font-color-light25;
  }
}