@mixin reset-button {
  border: 0;
  appearance: none;
  user-select: none;
  background: transparent;
  cursor: pointer;
}

@mixin reset-outline($property: box-shadow) {
  transition: #{$property} .25s ease-in-out;

  &:focus {
    outline: none;
    #{$property}: 0 .3125rem .3125rem $font-color-light25;
  }
}

@mixin font-face($font-family, $font, $type) {
  $weight: 400;

  @if $type == 'light' {
    $weight: 300;
  }

  @else if $type == 'bold' {
    $weight: 700;
  }

  $font-name: '#{$font}-#{$type}';

  @font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: $weight;
    src: url('/fonts/#{$font}/#{$font-name}.woff2'),
      url('/fonts/#{$font}/#{$font-name}.woff');
  }
}