@import '@styles/variables.scss';

.bullets-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item:not(:last-child) {
    margin-bottom: .625rem;
  }

  &__bullet {
    font-family: $main-font;
    color: $font-color-light75;
    line-height: 1.5rem;
    padding-left: 1.25rem;
    position: relative;
    margin: 0;

    &::before {
      content: '';
      display: block;
      width: .625rem;
      height: .625rem;
      background: $font-color-light25;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: .4375rem;
    }
  }
}
