@import '@styles/variables';

.calendar {
  width: 100%;
  max-width: 20rem;
  box-sizing: border-box;
  padding: 1.25rem 1.25rem;
  background: #ffffff;
  border: .0625rem solid $font-color-light25;
  box-sizing: border-box;
  box-shadow: 0 .625rem 1.25rem $font-color-light5;
  border-radius: .25rem;

  &__date-navigation {
    margin-bottom: 1.875rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__change-month {
    padding: 0;
    outline: 0;
    border: 0;
    width: 1.5rem;
    display: block;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $main-color;
    background: transparent;
    cursor: pointer;

    &_hidden {
      visibility: hidden;
    }
  }

  &__drawn-date {
    margin: 0;
    font-family: $header-font;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1875rem;
    line-height: 1.5rem;
    color: $font-color;
  }

  &__weekday-names,
  &__days-container {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__day-wrapper {
    width: 14.285714286%;
    display: inline-block;
  }

  &__day {
    padding: 0;
    width: 100%;
    outline: 0;
    border: 0;
    background: transparent;
    cursor: pointer;

    &_not-clickable {
      cursor: default;
    }

    &_today-in-range {
      position: relative;
      z-index: 2;

      &::after,
      &::before {
        content: '';
        top: 0;
        z-index: -1;
        width: 50%;
        height: 100%;
        position: absolute;
        display: block;
        background: $main-color-gradient;
        opacity: .25;
      }

      &::after {
        right: 0;
      }

      &::before {
        left: 0;
      }
    }

    &_theme_weekday-name .calendar__day-label {
      color: $main-color;
      font-weight: bold;
    }

    &_theme_another-month .calendar__day-label {
      color: $font-color-light25;
    }

    &_theme_today,
    &_theme_part-of-range {
      border-radius: 50%;

      .calendar__day-label {
        font-weight: bold;
        color: #fff;
      }
    }

    &_theme_today {
      background: $second-color-gradient;
    }

    &_theme_part-of-range {
      background: $main-color-gradient;
      position: relative;
      z-index: 1;
    }

    &_theme_mid-range {
      position: relative;
      z-index: 2;

      &::after {
        content: '';
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        background: $main-color-gradient;
        opacity: .25;
      }
    }

    &_inrange-position {

      &_start::after,
      &_end::after {
        content: '';
        top: 0;
        z-index: -1;
        width: 50%;
        height: 100%;
        position: absolute;
        display: block;
        background: $main-color-gradient;
        opacity: .25;
      }

      &_start::after {
        right: 0;
      }

      &_end::after {
        left: 0;
      }
    }
  }

  &__day-inner {
    margin: 0;
    padding: 50% 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__day-label {
    display: block;
    text-align: center;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: .75rem;
    line-height: .9375rem;
    color: $font-color-light50;
    text-align: center;
  }

  &__days-container {
    margin-bottom: 1.25rem;
  }

  &__control-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__clear-button_hidden {
    visibility: hidden;
  }
}
