@import '@styles/variables';

.footer-menu {
  display: block;
  min-width: 12.5rem;

  &__title {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: $font-color;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    margin-top: 1.3125rem;

    &:link {
      color: $font-color-light50;
      text-decoration: none;
    }

    &:hover {
      color: $font-color-light50;
      text-decoration: underline;
    }

    &:visited {
      color: $font-color-light50;
    }
  }

}