@import '@styles/mixins.scss';
@import '@styles/variables.scss';

.room-details {

  &__container-content {
    @include inner-wrapper;

    padding: 4.5625rem 0;
    display: flex;
    flex-wrap: nowrap;
  }

  &__main-info,
  &__another-info {
    display: flex;
    flex-direction: row;
  }

  &__main-info {
    margin-bottom: .8125rem;
  }

  &__reviews-chart {
    margin-left: 6.625rem;
  }

  &__comments {
    margin-bottom: 2.125rem;
  }

  &__form-booking-room {
    margin-left: 4.375rem;
  }

  &__roles {
    min-width: 16.25rem;
  }

  &__roles-title {
    margin: 0 0 1rem 1.25rem;
  }

  &__cancellation-terms {
    margin-left: 6.3125rem;
  }

  &__form-booking-room {
    min-width: 23.75rem;
  }
}
