@import '@styles/variables';

.header {
  padding-top: .625rem;
  padding-bottom: .625rem;

  box-shadow: 0 .625rem 1.25rem $font-color-light5;

  &__center {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: $max-content-width;

    margin-left: auto;
    margin-right: auto;

    @media (max-width: 970px) {
      flex-wrap: wrap;
    }
  }

  &__nav {
    margin-left: auto;

    @media (max-width: 970px) {
      order: 3;
      width: 100%;
      margin-right: 1.25rem;
      margin-left: 1.25rem;
      margin-top: .9375rem;
    }
  }

  &__auth-block {
    margin-left: 1.25rem;
    margin-right: 1.25rem;

    @media (max-width: 450px) {
      width: 100%;
      margin-bottom: .625rem;
    }
  }

  &__logo {
    margin-left: 1.25rem;

    @media (max-width: 450px) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.25rem;
    }
  }
}