@import '@styles/variables';

.header-auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 100%;

  @media (max-width: 530px) {
    justify-content: center;
  }

  @media (max-width: 350px) {
    flex-direction: column;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
  }

  &__action:last-child {
    margin-left: 1.25rem;

    @media (max-width: 350px) {
      margin-left: unset;
      margin-top: .625rem;
    }
  }

  &__profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    font-size: .875rem;

    border-left: .0625rem solid $font-color-light10;
    padding-left: 1.25rem;

    @media (max-width: 1000px) {
      border: 0;
      padding-left: unset;

      text-align: center;
    }

    @media (max-width: 530px) {
      justify-content: center;
    }
  
    @media (max-width: 450px) {
      flex-direction: column;
    }
  }

  &__user-name-link {
    outline: none;

    cursor: pointer;

    &:focus {
      outline: auto;
      outline-color: $main-color;
      outline-width: .0625rem;
    }
  }


  &__link {
    text-decoration: none;
  }
}
