.header-auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 100%;

  @media (max-width: 450px) {
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 350px) {
    flex-direction: column;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
  }

  &__action:last-child {
    margin-left: 1.25rem;

    @media (max-width: 350px) {
      margin-left: unset;
      margin-top: .625rem;
    }
  }

  &__user-name {
    display: block;

    font-size: .875rem;
  }

  &__link {
    text-decoration: none;
  }
}