.text-field {
  box-sizing: border-box;
  display: block;
  width: 100%;

  &_validate-with-error &__row-with-error {
    display: block;
  }

  &_with-arrow {

    .text-field__input {
      padding-right: 44px;
    }

    .text-field__arrow {
      display: block;
    }
  }

  &__head {
    margin: 0 0 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgb(31, 32, 65);
  }
  
  &__wrapper {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }

  &__input {
    padding: 9px 14px;
    width: 100%;
    border: 1px solid rgba(31, 32, 65, .25);
    border-radius: 4px;
    outline: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: .875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, .75);
    overflow: hidden;

    &:read-only {
      cursor: pointer;
    }

    &::placeholder {
      opacity: 1;
      color: rgba(31, 32, 65, .25);
    }

    &:hover,
    &:focus {
      border-color: rgba(31, 32, 65, .5);
    }
  }

  &__arrow {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0;
    outline: 0;
    width: 44px;
    background: transparent;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    display: none;
  }

  &__row-with-error {
    margin: 3px 0 0 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: .625rem;
    line-height: .9375rem;
    text-transform: uppercase;
    color: rgba(202, 40, 40, .75);
    display: none;
  }
}
