@import '@styles/variables.scss';

.social-buttons {
  display: flex;
  font-family: 'awesome-5-brands-regular-400';
  font-size: 24px;

  &__item {
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 23px;
  }

  &__button {
    text-decoration: none;
    background: $main-color-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      background: $main-color-gradient-half-opacity;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
