@import '@styles/variables.scss';

.social-buttons {
  display: flex;
  font-family: 'Awesome 5 Brands';
  font-size: 24px;

  &__item {
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 23px;
  }

  &__button {
    text-decoration: none;
    background: $main-color-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      opacity: .7;
    }
  }
}
