@import '@styles/variables';

// this is max-height value for mobile version nav
// change it if mobile menu not fit with this size
$mobile-menu-max-height: 300px;

.main-nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  overflow: hidden;

  list-style-type: none;

  font-family: $main-font;
  font-size: 14px;

  max-height: $mobile-menu-max-height;

  transition: max-height .2s ease-in;

  @media (max-width: 420px) {
    display: block;
    width: 100%;

    text-align: center;
  }

  &__toggle-btn {
    display: none;
    box-sizing: content-box;
    width: 20px;
    height: 20px;

    padding: 0;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid transparent;
    border-radius: 3px;
    background-color: $bg-color;

    text-align: center;

    cursor: pointer;

    outline: none;

    @media (max-width: 420px) {
      display: block;
    }
  }

  &__toggle-btn-icon {
    display: block;
    width: 20px;
    height: 20px;
  }

  &__toggle-btn:focus {
    border: 1px solid $main-color;
  }

  &_hidden {
    max-height: 22px;
    overflow: hidden;
  }
}