@import '@styles/variables.scss';

.select-lang {
  position: relative;

  z-index: 1;

  $block: &;

  &_open {
    #{$block}__item-list {
      visibility: visible;
      height: auto;
      opacity: 1;
    }
  }

  &__item-button {
    width: 50px;
    height: 50px;
    background: $main-color-gradient;
    border: 1px solid white;

    color: white;
    outline: none;

    text-transform: uppercase;
    font-weight: 700;
    user-select: none;

    cursor: pointer;

    &:hover,
    &:focus {
      outline: auto;
      outline-width: 1px;
      outline-color: $font-color-light50;
    }

    &:focus + #{$block}__item-list {
      visibility: visible;
      height: auto;
      opacity: 1;
    }
  }

  &__item-list {
    display: block;
    position: absolute;
    visibility: hidden;
    height: 0;
    top: 100%;

    list-style-type: none;

    padding-left: 0;
    margin: 0;

    opacity: 0;

    transition: opacity .15s ease-in-out;
  }
}